<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.0.275-beta" targetFramework="net462" />
  <package id="HtmlAgilityPack-PCL" version="1.4.6" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net462" />
  <package id="System.Collections.Specialized" version="4.0.1-rc2-24027" targetFramework="net462" />
</packages>